*{
    margin:0;
    padding:0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    margin-bottom: 30px;
}

main{
    margin-top: 15px;
}


#container {
    background-image: url("https://i.redd.it/bptzx7ur4uj11.jpg");
    background-size: cover;
    max-height: 500px;
    min-height: 400px;
    width: 1500px;
    background-color: black;
    /* border: 10px solid black; */
    border-radius: 20%;
    padding-top: 100px;
    margin: 0 auto;


}

#text {
    border: 0.5rem solid rgb(214, 8, 8);
    background-color: aqua;
    width: 250px;
    height: 50px;
    border-radius: 40%;
    margin: 0 auto;
    overflow: scroll;
    overflow-wrap: break-word;
    /* margin-top: 200px; */

}

#text p {
    color: rgb(3, 8, 143);
    border: 1px solid black;
    padding: 10px 10px 10px 0px;
    text-align: center;
    font-size: 1.5rem;
    margin: 10px;
    border-radius: 20%;
}

#container2 {
    background-image: url("https://i.redd.it/bptzx7ur4uj11.jpg");
    background-size: cover;
    max-height: 500px;
    min-height: 400px;
    width: 1500px;
    background-color: black;
    /* border: 10px solid black; */
    border-radius: 20%;
    padding-top: 100px;
    margin: 0 auto;


}

#text2 {
    border: 0.5rem solid rgb(214, 8, 8);
    background-color: aqua;
    width: 250px;
    height: 50px;
    border-radius: 40%;
    margin: 0 auto;
    overflow: scroll;
    overflow-wrap: break-word;
    /* margin-top: 200px; */

}

#text2 p {
    color: rgb(3, 8, 143);
    border: 1px solid black;
    padding: 10px 10px 10px 0px;
    text-align: center;
    font-size: 1.5rem;
    margin: 10px;
    border-radius: 20%;
}